<center>
<img src="../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- **14 and 12**
- 16 and 12
- 13 and 11

In [21]:
print(data.loc[(data['Sex'] == 'M') & ( data['Games'].str.contains(pat = '1996'))].sort_values(by='Age').iloc[0])
print(data.loc[(data['Sex'] == 'F') & ( data['Games'].str.contains(pat = '1996'))].sort_values(by='Age').iloc[0])

ID                        44326
Name            Gwon Gyeong-Min
Sex                           M
Age                          14
Height                      165
Weight                       60
Team                South Korea
NOC                         KOR
Games               1996 Summer
Year                       1996
Season                   Summer
City                    Atlanta
Sport                    Diving
Event     Diving Men's Platform
Medal                       NaN
Name: 87416, dtype: object
ID                                           47506
Name                                  Hem Reaksmey
Sex                                              F
Age                                             12
Height                                         175
Weight                                          65
Team                                      Cambodia
NOC                                            CAM
Games                                  1996 Summer
Year                                          1996
Season                                      Summer
City                                       Atlanta
Sport                                     Swimming
Event     Swimming Women's 100 metres Breaststroke
Medal                                          NaN
Name: 93850, dtype: object

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- **1.5** 
- 2.5
- 7.7

In [41]:
gymnasts = data.loc[(data['Sport'] == 'Gymnastics') & (data['Games'].str.contains(pat = '2000') & (data['Sex'] == 'M'))].copy()
gymnasts.drop_duplicates(subset = 'Name', inplace = True, keep = 'first')
sportsmen = data.loc[data['Games'].str.contains(pat = '2000') & (data['Sex'] == 'M')].copy()
sportsmen.drop_duplicates(subset = 'Name', inplace = True, keep = 'first')
print(len(gymnasts) / len(sportsmen) * 100)

1.4750608272506083

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- **182.4 and 9.1**

In [47]:
needed = data.loc[(data['Sex'] == 'F') & (data['Games'].str.contains(pat = '2000') & (data['Sport'] == 'Basketball'))].copy()
needed.drop_duplicates(subset = 'Name', inplace = True, keep = 'first')
heights = needed['Height'].copy()

print(heights.mean(), heights.std())

182.38732394366198 9.139462087892174

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- **Bobsleigh**
- Weightlifting
- Boxing

In [57]:
data.loc[(data['Games'].str.contains(pat = '2002')) & ( data['Weight'].notna())].sort_values(by='Weight').iloc[-1]['Sport']

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- ***3***

In [62]:
needed = data.loc[data['Name'] == 'Pawe Abratkiewicz'].copy()
needed.drop_duplicates(subset = 'Games', inplace = True, keep = 'first')
len(needed)

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- **2** 
- 3

In [4]:
needed = data.loc[(data['Team'] == 'Australia') & (data['Medal'] == 'Silver') & (data['Games'].str.contains(pat = '2000')) & (data['Sport'] == 'Tennis')].copy()
needed.drop_duplicates(subset = 'Name', keep = 'first')
len(needed)

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- **Yes** 
- No

In [68]:
swit = data.loc[(data['Team'] == 'Switzerland') & (data['Medal'].notna()) & (data['Games'].str.contains(pat = '2016'))].copy()
serb = data.loc[(data['Team'] == 'Serbia') & (data['Medal'].notna()) & (data['Games'].str.contains(pat = '2016'))].copy()
swit.drop_duplicates(subset = 'Name', keep = 'first')
serb.drop_duplicates(subset = 'Name', keep = 'first')
len(swit) < len(serb)

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- **[45-55] and [15-25) correspondingly**
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [80]:
# let there be 15-; 15-25; 25-35; 35-45; 45-55; 55+ age brackets
elder = data.loc[(55 >= data['Age']) & (data['Age'] >= 45)]
elder.drop_duplicates(subset = 'Name', keep = 'first')
adults = data.loc[(45 >= data['Age']) & (data['Age'] >= 35)]
adults.drop_duplicates(subset = 'Name', keep = 'first')
print(len(elder) < len(adults))
young = data.loc[(25 > data['Age']) & (data['Age'] >= 15)]
young.drop_duplicates(subset = 'Name', keep = 'first')
adults = data.loc[(45 > data['Age']) & (data['Age'] >= 35)]
adults.drop_duplicates(subset = 'Name', keep = 'first')
medium = data.loc[(35 > data['Age']) & (data['Age'] >= 25)]
medium.drop_duplicates(subset = 'Name', keep = 'first')
print((len(young) > len(medium)) and (len(young) > len(adults)))

True
True

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- **No, Yes** 
- No, No

In [82]:
print(len(data.loc[(data['City'] == 'Lake Placid') & (data['Games'].str.contains(pat = 'Summer'))]) > 0)
print(len(data.loc[(data['City'] == 'Sankt Moritz') & (data['Games'].str.contains(pat = 'Winter'))]) > 0)

False
True

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- **34**

In [122]:
s1995 = data.loc[data['Games'].str.contains(pat = '1995')].copy()

s2016 =  data.loc[data['Games'].str.contains(pat = '2016')].copy()

abs(len(set(s1995['Sport'])) - len(set(s2016['Sport'])))

34